<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>Probe Basic</Name>
    <Version>0.1.5</Version>
    <Title>Probe Basic Installer</Title>
    <Publisher>Kcjengr</Publisher>
    <ProductUrl>https://kcjengr.github.io/probe_basic/</ProductUrl>
    <PageListPixmap>logo_png.png</PageListPixmap>
    <InstallerWindowIcon>icon_png.png</InstallerWindowIcon>
    <Logo>logo.png</Logo>
    <Watermark>watermark.png</Watermark>
    <StyleSheet>probe_basic.qss</StyleSheet>
    <ProductImages>
        <Image>probe1.png</Image>
        <Image>probe2.png</Image>
    </ProductImages>
    <StartMenuDir>Probe Basic</StartMenuDir>
    <TargetDir>@HomeDir@/probe_basic_installation/</TargetDir>
    <MaintenanceToolName>PBMaintenanceTool</MaintenanceToolName>
    <RemoteRepositories>
         <Repository>
             <Url>http://repository.qtpyvcp.com/repo/pb-dev/repo</Url>
         </Repository>
    </RemoteRepositories>
    <ControlScript>controller.qs</ControlScript>
</Installer>
