<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>Probe Basic v0.1.4</Name>
    <Version>0.1.4</Version>
    <Title>Probe Basic Installer</Title>
    <Publisher>Kcjeng</Publisher>
    <ProductUrl>https://kcjengr.github.io/probe_basic/</ProductUrl>

    <WizardStyle>Modern</WizardStyle>
    <InstallerWindowIcon>icon.png</InstallerWindowIcon>
    <Logo>logo.png</Logo>
    <Watermark>watermark.png</Watermark>
    <StartMenuDir>Probe Basic</StartMenuDir>
    <TargetDir>@HomeDir@/probe_basic/</TargetDir>
    <RemoteRepositories>
         <Repository>
             <Url>http://54.38.157.98/probe_basic</Url>
         </Repository>
     </RemoteRepositories>
</Installer>
